.teamwork-box{
    display: flex;
    padding:8%;
    color:#56597A;
    position: relative;
}
.teamwork-left{
    width:50%;
}
.teamwork-right{
    width:50%;
}
.ha{
    width: 60% !important;
}
.illus{
    width:85%;
}
.right-b{
    position: absolute;
    right: 0;
    top:-20%;
}
@media only screen and (max-width:960px){
    .teamwork-box{
        display: block;
    }
    .teamwork-left{
        width:100%;
    }
    .teamwork-right{
        width:100%;
    }
    .ha{
        width: 100% !important;
    }
}